name: Rust tests

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
      - name: Check formatting
        working-directory: rust
        run: cargo fmt --check
      - name: Run clippy
        working-directory: rust
        run: cargo clippy --all-targets --all-features
      - name: Run tests
        working-directory: rust
        run: cargo test
