name: Rust tests

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings, including Clippy lints
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Check formatting
        working-directory: rust
        run: cargo fmt --check
      - name: Run clippy
        working-directory: rust
        run: cargo clippy --all-targets --all-features
      - name: Run tests
        working-directory: rust
        run: cargo test
