name: Update Homebrew Formula

on:
  release:
    types: [published]

jobs:
  update-formula:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        formula: [ignore, ignore-rs, ignore-sh]
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
          formula: ${{ matrix.formula }}
          tap: acevif/homebrew-tap
